{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Acerca de mí</h2>
<p>Hola! Mi nombre es Nicolas Martinez, tengo 28 años y soy el creador de Somos .MP4</p>
<p>Fuera de estudiar Python en Coderhouse, soy papá de un hermoso nene de 5 años llamado Noah, estudio Administración de Empresas en la UNSAM y 
soy responsable de compras de New Balance Argentina.</p>
<p>Sin dejar de lado mis obligaciones laborales, también tengo como hobbie un espacio donde comparto música a nivel
nacional e internacional.</p>
<p>Esta marca (.MP4) me llevó a distintos festivales, recitales y músicos de toda la república argentina.</p>
<p>Mi finalidad con este curso fue potenciar mis conocimientos tanto profesional como con fines de potenciar mi proyecto
a otro nivel.</p>
{% endblock %}
